<ion-view class="my-view">
  <ion-nav-title class="my-view-title">修改头像</ion-nav-title>
  <ion-content>
    <img class="change-avatar-img" ng-src="{{imageSrc}}">

    <div class="padding">
      <button class="button button-block button-positive" ng-click="addPhoto()">修改</button>
      <button class="button button-block button-positive">保存</button>
    </div>

    <div class="padding">
      <button class="button button-block button-outline button-positive">取消</button>
    </div>

  </ion-content>
</ion-view>
