<ion-view class="my-view">
  <ion-nav-bar class="bar bar-positive"></ion-nav-bar>
  <ion-nav-buttons side="left">
    <a class="button button-icon icon ion-chevron-left" ng-click="goBack()"></a>
  </ion-nav-buttons>
  <ion-nav-title class="my-view-title">修改头像</ion-nav-title>
  <ion-content>

    <img class="change-avatar-img" id="video-cover-img" ng-src="{{imageSrc}}">
    <input class="hidden" id="video-cover-file" type="file"
    onchange="previewVideoCover()">
    <div class="padding">
      <button class="button button-block button-positive" ng-click="addPhoto()">修改</button>
      <button class="button button-block button-positive" ng-click="uploadPhoto()">保存</button>
    </div>

    <div class="padding">
      <button class="button button-block button-outline button-positive" ng-click="goBack()">取消</button>
    </div>

  </ion-content>
</ion-view>
