<ion-view class="my-view">
  <ion-nav-title class="my-view-title">登录Your Map</ion-nav-title>
  <ion-content>
    <div class="list login-block">
      <label class="item item-input login-input">
        <span class="input-label">邮箱：</span>
        <input type="email" placeholder="已绑定的邮箱">
      </label>
      <label class="item item-input login-input">
        <span class="input-label">密码：</span>
        <input type="password" placeholder="6-16位英文字母或数字">
      </label>
    </div>

    <div class="padding">
      <button class="button button-block button-outline button-positive login-button">登录</button>
    </div>

    <div class="padding">
      <a class="login-button weibo-button"><img class="login-button-icon" src="../resources/test/LOGO_32.png">微博账号登录</a>
    </div>

    <div class="padding">
      <a class="login-button wechat-button"><img class="login-button-icon" src="../resources/test/icon32_wx_logo.png">微信账号登录</a>
    </div>



  </ion-content>
</ion-view>
