<ion-view class="my-view">
  <ion-nav-title class="my-view-title">注册Your Map账号</ion-nav-title>
  <ion-content>

    <div class="list register-block">
      <label class="item item-input register-input">
        <span class="input-label">邮箱：</span>
        <input type="email" placeholder="邮箱只用于绑定你的账户">
      </label>
      <label class="item item-input register-input">
        <span class="input-label">昵称：</span>
        <input type="text" placeholder="你希望大家如何称呼你">
      </label>
      <label class="item item-input register-input">
        <span class="input-label">密码：</span>
        <input type="password" placeholder="6-16位英文字母或数字">
      </label>
      <label class="item item-input register-input">
        <span class="input-label">确认密码：</span>
        <input type="password" placeholder="请再次输入密码">
      </label>
    </div>

    <div class="padding">
      <button class="button button-block button-positive">注册</button>
      <button class="button button-block button-outline button-positive">已有账号</button>
    </div>

  </ion-content>
</ion-view>
