<ion-view view-title="搜索">
  <ion-nav-bar class="bar bar-positive"></ion-nav-bar>
  <ion-nav-buttons side="left">
    <a class="button button-icon icon ion-chevron-left" ng-click="goBack()"></a>
    <!--<button class="button button-positive" ng-click="goBack()"><i class="ion-arrow-left-c"></i> 后退</button>-->
  </ion-nav-buttons>

  <ion-content>
    <!--<input class="search-history-input" ng-model="input.inputContent" placeholder="景点名称" ng-change="inputChange()"/>-->
    <!--<button class="button button-positive" ng-click="search()">搜索</button>-->
    <div class="item item-input-inset">
      <label class="item-input-wrapper">
        <input type="text" ng-model="input.inputContent" ng-change="inputChange()" placeholder="景点名称">
      </label>
      <button class="button button-small" ng-click="search()">
        搜索
      </button>
    </div>
    <br>
    <br>
    <div class="list list-inset">
      <div class="item" ng-repeat="item in historyList | filter:input.inputContent">
        <div ng-click="searchSight(item)">{{item}}</div>
      </div>
    </div>


    <div class="list list-inset">
      <button class="button button-block button-positive " ng-click="clearHistory()">清空历史记录</button>
    </div>


  </ion-content>
</ion-view>
