<html>
	<head>
		<title>China Art Museum</title>
		<script src="lib/China_Art_Museum/lib/jquery-2.1.3.min.js"></script>
		<script src="lib/China_Art_Museum/lib/three.js"></script>
		<script src="lib/China_Art_Museum/lib/JSONLoader.js"></script>
		<script src="lib/China_Art_Museum/lib/FirstPersonControls.js"></script>
		<script src="lib/China_Art_Museum/lib/OrbitControls.js"></script>
		<script src="lib/China_Art_Museum/js/Shadow.js"></script>
		<link rel="stylesheet" type="text/css" href="lib/China_Art_Museum/css/home.css">
	</head>
	<body>
    <div class="title-bar" >
      <div class="title-bar-title">世博馆3D景观</div>
    </div>
		<div id="canvas-frame"></div>
	</body>
</html>
<!--<ion-view view-title="3D景观">-->
  <!--<ion-nav-bar class="bar bar-positive"></ion-nav-bar>-->
  <!--<ion-nav-buttons side="left">-->
    <!--<button class="button button-positive" ng-click="goBack()"><i class="ion-arrow-left-c"></i> 后退</button>-->
  <!--</ion-nav-buttons>-->

  <!--<ion-content>-->
    <!--<div id="canvas-frame"></div>-->
    <!--<script src="lib/China_Art_Museum/lib/jquery-2.1.3.min.js"></script>-->
    <!--<script src="lib/China_Art_Museum/lib/three.js"></script>-->
    <!--<script src="lib/China_Art_Museum/lib/JSONLoader.js"></script>-->
    <!--<script src="lib/China_Art_Museum/lib/FirstPersonControls.js"></script>-->
    <!--<script src="lib/China_Art_Museum/lib/OrbitControls.js"></script>-->
    <!--<script src="lib/China_Art_Museum/js/Shadow.js"></script>-->
    <!--<link rel="stylesheet" type="text/css" href="lib/China_Art_Museum/css/home.css">-->

  <!--</ion-content>-->
<!--</ion-view>-->
