<ion-view view-title="视频展示">
  <ion-nav-bar class="bar bar-positive"></ion-nav-bar>
  <ion-nav-buttons side="left">
    <a class="button button-icon icon ion-chevron-left" ng-click="goBack()"></a>
  </ion-nav-buttons>

  <ion-content>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <label>视频列表</label>
        </h3>
      </div>
      <div class="panel-body">
        <ion-list>
          <ion-item ng-repeat="item in videos" ng-click="play(item.name,item.url)">{{item.name}}</ion-item>
        </ion-list>
      </div>
    </div>

    <div class="padding">
      <input class="hidden" id="video-cover-file" type="file"
             onchange="previewVideoCover()">
      <button class="button button-block button-positive" ng-click="addVideo()">选择视频</button>
      <button class="button button-block button-positive" ng-click="uploadVideo()">确认上传</button>
    </div>
  </ion-content>
</ion-view>

