<ion-view view-title="景点详情">
  <ion-nav-bar class="bar bar-positive"></ion-nav-bar>
  <ion-nav-buttons side="left">
    <button class="button button-positive" ng-click="goBack()"><i class="ion-arrow-left-c"></i> 后退</button>
  </ion-nav-buttons>

  <ion-content>
    <input placeholder="景点名称"/>
    <br>
    <input placeholder="基本信息"/>
    <br>
    <input placeholder="详细介绍"/>
    <br>

    <div class="list">
      <div class="item" ng-repeat="img in images_list">
        <img ng-src="{{img}}" width="100%">
      </div>
    </div>
    <br>
    <div>评分：4.5</div>

  </ion-content>
</ion-view>
