<ion-view view-title="景点详情" cache-view="false">
  <ion-nav-bar class="bar bar-positive"></ion-nav-bar>
  <ion-nav-buttons side="left">
    <a class="button button-icon icon ion-chevron-left" ng-click="goBack()"></a>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-small button-clear" ng-click="toComment()">查看评价</button>
  </ion-nav-buttons>

  <ion-content>
    <div class="page-header">
      <h1>{{sight.sightName}}
      </h1>

      <h4>
        <span class="label label-danger" ng-click="addToPlan()">加入心愿单</span>
        <span class="label label-success" ng-click="addToFootprint()">加入足迹</span>
        <span class="label label-primary" ng-click="addToStar()">收藏</span>
      </h4>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          评分：{{sight.score}}
        </h3>
      </div>
      <div class="panel-body">
        <!--代码开始-->
        <div id="xzw_starSys">
          <div id="xzw_starBox">
            <ul class="star" id="star">
              <li><a href="javascript:void(0)" title="1" class="one-star">1</a></li>
              <li><a href="javascript:void(0)" title="2" class="two-stars">2</a></li>
              <li><a href="javascript:void(0)" title="3" class="three-stars">3</a></li>
              <li><a href="javascript:void(0)" title="4" class="four-stars">4</a></li>
              <li><a href="javascript:void(0)" title="5" class="five-stars">5</a></li>
            </ul>
            <div class="current-rating" id="showb" style="width: {{sight.scoreWidth}}px"></div>
          </div>
        </div>
        <!--代码结束-->
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          简介
        </h3>
      </div>
      <div class="panel-body">
        {{sight.brief}}
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          详细介绍
        </h3>
      </div>
      <div class="panel-body">
        {{sight.description}}
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading">
        <input class="hidden" id="video-cover-file" type="file"
               onchange="previewVideoCover()">
        <h3 class="panel-title">
          图册&nbsp;&nbsp;<button class="button button-small" ng-click="addPhoto()">上传</button>&nbsp;&nbsp;<span style="display: none" id="selectInfo">已选择图片</span>&nbsp;&nbsp;<button style="display: none" ng-click="uploadPhoto()" id="confirmUploadPic">确认上传</button>
        </h3>
      </div>
      <div class="panel-body">
        <table class="table table-bordered">
          <tbody>
          <tr ng-repeat="array in sight.img">
            <td ng-repeat="img in array"><img ng-src="{{img}}" width="100%"></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          附加信息&nbsp;&nbsp;<button ng-click="showToggle()">{{showText}}</button>
        </h3>
      </div>
      <div class="panel-body" ng-show="isShowMore">
        {{sight.otherInfo}}
      </div>
    </div>


    <button class="btn btn-link" ng-click="lookVideo()">介绍视频</button>

    <button class="btn btn-link" ng-click="look3D()">3D模型</button>


    <button class="btn btn-link" ng-click="reportError()">报告错误信息</button>

  </ion-content>
</ion-view>
