<ion-view view-title="景点详情">
  <ion-nav-bar class="bar bar-positive"></ion-nav-bar>
  <ion-nav-buttons side="left">
    <button class="button button-positive" ng-click="goBack()"><i class="ion-arrow-left-c"></i> 后退</button>
  </ion-nav-buttons>

  <ion-content>
    <input placeholder="景点名称"/>
    <br>
    <input placeholder="基本信息"/>
    <br>
    <input placeholder="详细介绍"/>
    <br>

    <div class="list">
      <div class="item" ng-repeat="img in images_list">
        <img ng-src="{{img}}" width="100%">
      </div>
    </div>
    <br>
    <div>评分：4.5</div>

    <!--代码开始-->
    <div id="xzw_starSys">
      <div id="xzw_starBox">
        <ul class="star" id="star">
          <li><a href="javascript:void(0)" title="1" class="one-star">1</a></li>
          <li><a href="javascript:void(0)" title="2" class="two-stars">2</a></li>
          <li><a href="javascript:void(0)" title="3" class="three-stars">3</a></li>
          <li><a href="javascript:void(0)" title="4" class="four-stars">4</a></li>
          <li><a href="javascript:void(0)" title="5" class="five-stars">5</a></li>
        </ul>
        <div class="current-rating" id="showb"></div>
      </div>
      <!--评价文字-->
      <div class="description"></div>
    </div>
    <!--代码结束-->

  </ion-content>
</ion-view>
