<ion-view class="my-view">
  <ion-nav-title class="my-view-title">我</ion-nav-title>
  <ion-content>
    <div class="personal-avatar-block">
      <img class="personal-avatar-img" src="../resources/test/head.png" ng-click="changeState('changeAvatar')">
      <span class="personal-avatar-name">尊贵的测试人员</span>
      <div class="personal-avatar-buttons-block">
        <a class="personal-avatar-button" href="#/register">注册</a>
        |
        <a class="personal-avatar-button" href="#/login">登录</a>
        <!--<button class="personal-avatar-button">注册</button>-->
        <!--<button class="personal-avatar-button">登录</button>-->
      </div>
    </div>


    <div class="list">
      <a class="item item-icon-left item-icon-right personal-list" href="#">
        <i class="icon ion-android-globe"></i>
        足迹
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
      <a class="item item-icon-left item-icon-right personal-list" href="#">
        <i class="icon ion-android-clipboard"></i>
        心愿单
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
      <a class="item item-icon-left item-icon-right personal-list" href="#">
        <i class="icon ion-android-star-outline"></i>
        收藏
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
      <a class="item item-icon-left item-icon-right personal-list" href="#">
        <i class="icon ion-android-share-alt"></i>
        分享
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
    </div>
    <a class="item item-icon-left item-icon-right personal-list" href="#">
      <i class="icon ion-information-circled"></i>
      关于我们
      <i class="icon ion-chevron-right icon-accessory"></i>
    </a>
    <div class="list">

    </div>

    <!--<footer><a href="#">关于我们 @高</a></footer>-->

  </ion-content>
</ion-view>
