<ion-view class="my-view">
  <ion-nav-title class="my-view-title">我</ion-nav-title>
  <ion-content>
    <div class="personal-avatar-block">
      <img class="personal-avatar-img" src="../resources/test/head.png">
      <span class="personal-avatar-name">尊贵的测试人员</span>
      <div class="personal-avatar-buttons-block">
        <button class="personal-avatar-button">注册</button>
        <button class="personal-avatar-button">登陆</button>
      </div>
    </div>


    <div class="list">
      <a class="item item-icon-left personal-list" href="#">
        <i class="icon ion-android-globe"></i>
        足迹
      </a>
      <a class="item item-icon-left personal-list" href="#">
        <i class="icon ion-android-clipboard"></i>
        心愿单
      </a>
      <a class="item item-icon-left personal-list" href="#">
        <i class="icon ion-android-star-outline"></i>
        收藏
      </a>
      <a class="item item-icon-left personal-list" href="#">
        <i class="icon ion-android-share-alt"></i>
        分享
      </a>
    </div>

    <footer><a href="#">关于我们 @高</a></footer>

  </ion-content>
</ion-view>
