/* Empty. Add your own CSS if you like */

.my-view {
  font-family: "sans-serif";
  background-color: whitesmoke;
}

.my-view-title {
  font-family: "华文细黑";
  font-weight: bold;
}

/* Personal */

.personal-avatar-block {
  height: 230px;
}

.personal-avatar-img {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  /*padding:2px;*/
  width: 120px;
  height: 120px;

  overflow: hidden;
  /*border: 3px solid lightblue;*/
  border-radius: 60px;
  /*box-shadow: 2px 2px 2px 2px lightgray;*/
}

.personal-avatar-name {
  display: block;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;

  width: 60%;
  height: 30px;

  text-align: center;
  font-size: 16px;
  color: dimgray;
}

.personal-avatar-buttons-block {
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;

  width: 80px;
  height: 30px;

}

.personal-avatar-button {
  text-decoration: none;
  color: steelblue;
}

.personal-avatar-button-logout {
  position: relative;
  top: -35px;
  width: 60px;
  height: 34px;
  text-decoration: none;
  color: steelblue;
  font-size: 15px;
  border: 0;
  background: whitesmoke;
}

/*.personal-avatar-button {*/
/*position: relative;*/
/*left: 30px;*/

/*margin-top: 10px;*/
/*margin-right: 40px;*/
/*width: 100px;*/
/*height: 30px;*/

/*background-color: steelblue;*/
/*font-size: 15px;*/
/*color: white;*/
/*border: 0;*/
/*border-radius: 3px;*/

/*}*/

.personal-list {
  color: dimgray !important;
}

footer {
  text-align: center;
}

footer > a {
  color: darkgray;
  text-decoration: none;
}

/*  Register */
.register-block {
  margin-top: 30px;
  margin-left: 15px;
  margin-right: 15px;
  /*padding-top: 20px;*/
  /*padding-left: 10px;*/
  /*padding-right: 10px;*/
  /*height: 150px;*/

  /*background-color: white;*/
}

.register-input {
  margin-top: 8px;

  border-radius: 4px;
  border-color: lightgray;
}

/*.register-login-link {*/
/*display: block;*/

/*text-align: center;*/
/*text-decoration: none;*/
/*color: gray;*/
/*}*/

/* Login */
.login-block {
  margin-top: 30px;
  margin-left: 15px;
  margin-right: 15px;
}

.login-input {
  margin-top: 8px;

  border-radius: 4px;
  border-color: lightgray;
}

.login-button {
  /*display: block;*/
  /*margin-bottom: 10px;*/
  /*padding-left: 12px;*/
  /*padding-right: 12px;*/

  /*width: 364px;*/
  /*height: 47px;*/

  border: 1px solid darkgray !important;
  /*border-radius: 4px;*/

  /*text-decoration: none;*/
  /*text-align: center;*/
  /*vertical-align: top;*/
  font-size: 15px;
  color: dimgray !important;
}

.github-button {
  border: 1px solid darkslategrey !important;
  /*color: orangered;*/
}

.wechat-button {
  border: 1px solid limegreen !important;
  /*color: limegreen;*/
}

.login-button-icon {
  position: relative;
  /*top: 5px;*/
  left: -8px;
}

/* Change Avatar */
.change-avatar-img {
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 10px 10px 10px;
  width: 300px;
  height: 300px;

  overflow: hidden;

  border: 1px solid lightgray;
  background-color: white;
}

.video-row {

}

.img-banner {
  width: 100%;
  height: 100px;
  border-radius: 6px;
  background-position: 0px 0px;
}

.video-view {
  width: 100%;
  height: 300px;
}

.people-info-background {
  background: #f5f5f5;
}

.my-sub-header-bar {
  width: 100%;
  padding: 0px;
  z-index: 1;
}

#container {
  height: 400px
}

#r-result {
  width: 100%;
}

.tangram-suggestion-main {
  z-index: 1000;
}

.sort-item {
  z-index: 1000;
}

.title-bar {
  width: 100%;
  height: 48px;
  background: #387ef5;
}

.title-bar-title{
  margin-left: 20px;
  color:#ffffff;
  height: 48px;
  line-height: 48px;
  vertical-align: middle;
  font-size: 21px;
  float:left;
}

.sight-detail-button {
  border: 0;
  background: transparent;
  color: steelblue;
}

.sight-detail-title, .sight-detail-top {
  margin-left: 12px;
}

#comment-input {
  resize: none;
}
